body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

button:focus {
  outline:0;
}

/* Map Content */
#content {
  height: 100%;
}

#mapid {
  height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  bottom: 10px;
  right: 0;
  left: 0;
}

.pokenest-log-img {
  display: inline-block;

}

.pokenest-log-txt {
  color: white;
  display: inline-block;
  font-size: 25px; 
  font-family: 'Lato', serif;
}

a:link {
    text-decoration: none;
}

.modal-header img {
  float: left;
  width: 40px;
  height: 40px;
}

.modal-header h4 {
  position: relative;
  top: 8px;
}

.easy-button-button {
    margin: 0;
    padding: 0;
    padding-top: 3%;
}

.materal-icons {
    margin-top:  10px;
}

#sitemapid {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

#pokemon-typeahead {
    margin-bottom: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

/* Remove Chrome focus effects */
*:focus {
    outline: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */

  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {

  padding: 3px 20px;
  line-height: 24px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { 
    width: 100%; 
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}